.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.spinner-loader {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid #3b82f6; /* blue */
  border-right: 6px solid #3b82f6;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.4);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

